.footer {
	padding: 65px 0;
	&__container {
	}
	&__body {
		display: flex;
		justify-content: space-between;
		align-items: start;
		margin: 0 -15px 66px -15px;
	}
	&__row {
		flex: 0 1 78%;
		display: flex;
		justify-content: space-between;
		align-items: start;
	}

	&__logo {
		padding: 0 15px;
		width: 170px;
		height: 54px;
		img {
			width: 100%;
		}
	}

	&__column {
		padding: 0 15px;
	}

	&__item {
	}

	&__title {
		font-size: 23px;
		line-height: 157%;
		margin-bottom: 23px;
	}

	&__social {
	}
	&__bottom {
		font-size: 14px;
		line-height: 171%;
	}
}
.item-footer {
}
.item-footm {
	&__title {
		font-family: $Roboto;
		font-size: 22px;
		line-height: 164%;
		margin-bottom: 23px;
	}

	&__menu {
	}

	&__list {
	}

	&__item {
		&:not(:last-child) {
			margin-bottom: 4px;
		}
	}

	&__link {
		font-size: 16px;
		line-height: 150%;
		text-transform: uppercase;
		&:hover {
			text-decoration: underline;
		}
	}
}
.social {
}
