.header {
	background-color: #f5ede7;
	width: 100%;
	box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
	z-index: 100;
	&_fixed {
		position: fixed;
		left: 0;
		top: 0;
	}
	&__container {
		display: flex;
		align-items: end;
	}

	&__logo {
		margin: 16px 0px 16.22px;
		width: 140px;
		height: 54px;
		img {
			width: 100%;
		}
	}

	&__menu {
		flex: 1 1 auto;
		margin: 0px 0px 21.22px;
	}

	&__body {
		display: flex;
		line-height: 150%;
		& > *:not(:last-child) {
			margin-right: 6px;
		}
	}

	&__log-in {
		text-align: center;
		line-height: 130%;
		&:before {
			content: "";
			display: block;
			width: 40px;
			height: 40px;
			margin: 0 auto;
			background: url("../img/icons/log-in.svg") center center/ contain no-repeat;
		}
	}

	&__cart {
		text-align: center;
		line-height: 130%;
		&:before {
			content: "";
			display: block;
			width: 40px;
			height: 40px;
			margin: 0 auto;
			background: url("../img/icons/cart.svg") top center / contain no-repeat;
		}
	}
}

.memu {
	&__list {
		display: flex;
	}
}
.menu {
	&__item {
		margin-left: 16px;
	}

	&__link {
		font-size: 16px;
		line-height: 80%;
		text-transform: uppercase;
		&:hover {
			text-decoration: underline;
		}
	}
}
