.page {
	&__hero {
	}
}
.hero {
	border-top: 1px solid #000;
	background: #ffc3a0;
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		max-width: 444px;
		padding-right: 10px;
	}

	&__title {
		font-family: $Roboto;
		font-size: 78px;
		line-height: 115%;
		&:not(:last-child) {
			margin-bottom: 33px;
		}
	}

	&__text {
		line-height: 156%;
		&:not(:last-child) {
			margin-bottom: 21px;
		}
	}

	&__btn {
		background: #ffc3a0;
	}

	&__image {
		flex: 0 1 897px;
		margin: 24px 0px;
		border-radius: 20px;
		padding-bottom: 50%;
		overflow: hidden;
	}
	.hero {
		&__arrow {
			position: absolute;
			height: 36px;
			width: 54px;
			bottom: 26px;
			border: 1px solid #000;
			z-index: 10;
		}
	}
	.arrow-left {
		right: 75px;
		background: url("../img/hero/arrow-left.svg") 50% no-repeat;
	}
	.arrow-right {
		right: 16px;
		background: url("../img/hero/arrow.svg") 50% no-repeat;
	}
}
