.page {
	&__slide {
		background-color: #fff;
		padding: 65px 0;
		border-top: 3px solid #bfbfbf;
	}
}
.slide {
	text-align: center;
	&__title {
		font-family: $Roboto;
		font-size: 43px;
		line-height: 140px;
	}

	&__row {
		display: flex;
		justify-content: center;
		margin: 0 -10px;
	}

	&__column {
		padding: 0 15px;
		flex: 0 1 336px;
	}

	&__item {
		padding-bottom: 100%;
		overflow: hidden;

		img {
			border-radius: 20px;
			overflow: hidden;
			transition: transform 0.8s;
		}
		&:hover {
			img {
				transform: scale(1.5);
			}
		}
	}
}
